# Facebook Page Analysis Using Pandas

import pickle
import pandas as pd 
import string
from operator import itemgetter

### Load the data

In [ ]:

loaded_data= pickle.load(file=open("steam_data.pkl"))

In [ ]:
loaded_data[0]

### Normalizing the data

In [ ]:

df2 = pd.io.json.json_normalize(data=loaded_data)

In [ ]:

df2.head(10)

In [ ]:
df2.columns[0]

### Tailoring the data

In [ ]:
df2.columns[0]
df2.drop('comments.data' , 1 , inplace=True)

In [ ]:
df2.drop( df2.columns[[0,1,5,6,7]] , 1 , inplace=True)

In [ ]:
df2.rename( columns= { "comments.summary.total_count" : "total_comments"} , inplace=True)
df2.rename( columns= { "likes.summary.total_count" : "total_likes"} , inplace=True)

### Cleaning null values

In [ ]:
df2.fillna("",inplace=True)

In [ ]:

df2.head(10)

### Working with Pandas

In [ ]:
steam_df= df2

In [ ]:
steam_df[  steam_df['total_comments'] > 100 ]

### Most Commented on Posts

In [ ]:
top_comments=steam_df.sort_values('total_comments',ascending=False)

In [ ]:
top_comments= top_comments.head(10)

In [ ]:
top_comments

In [ ]:
top_comments_id=  top_comments['id']
top_comments_id

In [ ]:
for i,x in top_comments_id.iteritems():
    print ('https://www.facebook.com/'+x )

### Most Liked Posts

In [ ]:

df2.sort_values('total_likes',inplace=True,ascending=False)
top_likes = df2.head(10)['id']


for i,x in top_likes.iteritems():
    print ('https://www.facebook.com/'+x +" "+ str(i))

In [ ]:


df2.head(10)

In [ ]:

df2.sort_values('total_likes',inplace=True,ascending=False)
top_likes = df2.head(10)['id']

for i,x in top_likes.iteritems():
    print ('https://www.facebook.com/'+x +" "+ str(i))

In [ ]:
  mapping = dict.fromkeys(map(ord, string.punctuation))

### Counting top words

In [ ]:

def count_words(df):
    stop_words=["a","about","above","after","again","against","all","am","an","and","any","are","now",
"aren't","as","at","be","because","been","before","being","below","between","both","but","by",
"can't","cannot","could","couldn't","did","didn't","do","does","doesn't","doing","don't","down",
"during","each","few","for","from","further","had","hadn't","has","hasn't","have","haven't","having",
"he","he'd","he'll","he's","her","here","here's","hers","herself","him","himself","his","how","how's",
"i","i'd","i'll","i'm","i've","if","in","into","is","isn't","it","it's","its","itself","let's","me","more",
"most","mustn't","my","myself","no","nor","not","of",
"off","on","once","only","or","other","ought","our",
"ours	ourselves","out","over","own","same","shan't",
"she","she'd","she'll","she's","should","shouldn't","so",
"some","such","than","that","that's","the","their","theirs",
"them","themselves","then","there","there's","these","they",
"they'd","they'll","they're","they've","this","those","through",
"to","too","under","until","up","very","was","wasn't","we","we'd",
"we'll","we're","we've","were","weren't","what","what's","when","when's",
"where","where's","which","while","who","who's","whom","why","why's","with",
"won't","would","wouldn't","you","you'd","you'll","you're","you've","your",'guys','just','day',
"yours","yourself","yourselves","will","ana","isa","can","hwa","wala","msh","wla","hya","will",'enta','7aga','mesh','dah','bas','elly','b2a','3ala','alf','enty','3al',]

    mapping = dict.fromkeys(map(ord, string.punctuation))
    
    
    words={}

    for m in df2['message']:
        try:
            seperated_words=m.split(' ')
        except:
            pass
           # print "ERROR"+str(m) 
        for word in seperated_words:
                word=word.strip()
                word=word.lower()
                
                word=word.translate(mapping) # Removes any punctation
                
                if word in stop_words:
                    continue
                if len(word) < 3:
                    continue
                if word in words:
                    words[word]+=1
                else:
                    words[word]=1
    print("done counting words")
    return words

In [ ]:
words=count_words(steam_df)

In [ ]:
words_df= pd.DataFrame(words.items(), columns=['Word' , 'count'])
words_df
words_df.sort_values('count' , ascending=False,inplace=True)

In [ ]:
words_df

In [ ]:
%matplotlib inline
words_df[words_df['count'] > 1000 ].plot(x='Word',kind='bar')

In [ ]:

months=["january",
"february",
"march",
"april",
"May",
"june",
"july",
"august",
"september",
"october",
"november",
"december"]

print words_df[ words_df['Word'].isin(months) ]

### Couning Posts the word "Free" and "Discount"

In [159]:
steam_df['free']= steam_df.message.str.contains('free')

In [160]:
steam_df.head()

,total_comments,created_time,id,total_likes,message,free
3395,2010,2014-06-11T20:59:32+0000,67919847338_10152188716552339,20387,Grand Theft Auto V is Coming Soon to Steam!\n\...,False
4392,6250,2013-12-25T18:57:30+0000,67919847338_10151870697512339,13178,Left 4 Dead 2 is FREE today only on Steam!*\n\...,True
839,929,2016-07-13T19:59:50+0000,67919847338_10153807130797339,9342,"In 2011, we added a feature to Steam that enab...",False
883,1332,2016-06-23T17:29:20+0000,67919847338_10153761798622339,8005,The Steam Summer Sale has started! For the nex...,False
3427,1522,2014-06-04T17:39:29+0000,67919847338_10152174809517339,7351,Sniper Elite V2 is FREE today only on Steam!*\...,True

In [164]:
steam_df.groupby(by= steam_df['free']).count()['id']

free
False    6224
True      348
Name: id, dtype: int64